body, html {
    margin: 0;
    align-self: center;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    text-align: center;
    margin: 0 auto;
    width: auto;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.StatusDropDown {
    border: none;
}

select option:nth-child(1) { 
    display: none; 
}

.select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
}

.NotStarted { 
    background-color:red; 
}

.InProgress {
    background-color: yellow;
}

.Complete {
    background-color: green;
}


.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
